* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

h1 {
    font-size: 5em;
    font-weight: 900;
    width: 20%;
}

h2 {
    font-size: 5vw;
    font-weight: 900;
}

a:hover {
    color: gray;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 20px 50px;
}

nav > a {
    align-self: center;
    padding-left: 5%;
    font-size: 1.5em;
}

.logo {
    /* No selection */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    align-self: center;
    flex-grow: 1;
    font-size: 2.2vw;
}

.logo h6 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    display: inline;
    color: lawngreen;
    font-size: 50px;
}

.logo h6:nth-child(odd) {
    color: crimson;
}

.categories {
    background-image: url(src/double-bubble.png);
    display: flex;
    align-content: flex-end;
    padding: 5%;
}

.categories .information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 2;
    padding-right: 10%;
}

.category {
    position: relative;
    padding-left: 10px;
    text-align: right;
    align-items: flex-end;
    align-content: flex-end;
}

.category img {
    width: 350px;
    height: 100%;
    object-fit: cover;
}

.text-container {
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    width: 50%;
    text-align: end;
}

.text-container h3, .text-container h2 {
    font-size: 16px;
    font-weight: bolder;
    background-color: #fff;
    padding: 10px;
    margin-left: 30%;
}

.green h3 {
    background-color: lawngreen;
    margin: 0;
}